<%= render "devise/shared/header" %>
<% breadcrumb :new_user_registration%>
<%= render "layouts/breadcrumb"%>


<h2>アカウント新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", model: f.object %>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :パスワード　※半角英数字6文字以上 %><br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認用 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

    <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.text_field :telephone, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "会員登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
