<div class="shop">
  <div class="info">
    <div class="shop-controller">
      <div class="shop-name">
        <%= @shop.name%>
      </div>
      <div class="master">
        <%if user_signed_in? && current_user.admin == 1%>
          <%= link_to "編集", edit_shop_path(@shop.id)%>
          <%= link_to "削除", shop_path(@shop.id), method: :delete %>
        <% end %>
      </div>
    </div>
    <div class="shop-comment">
      <div class="shop-comment-point", id="shop-star-rate-<%=@shop.id%>">
        <script>
          $("#shop-star-rate-<%=@shop.id%>").raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHarf: '<%= asset_path('star-half.png')%>',
            readOnly: true,
            score: "<%=@shop_rate%>"
          });
        </script>  
        <span><%= @shop_rate%></span>
      </div>
      <div class="shop-comment-count">
        口コミ数<%=@shop_count%>
      </div>
      <%#= @shop.保存した数%>
    </div>
    <div class="shop-details">
      <%= "エリア：#{@shop.area.name}"%>
      <%= "ジャンル：#{@shop.genre.name}"%>
      <%= "定休日：#{@shop.regular_holiday}"%>
    </div>
  </div>
  <div class="action">
    <%if user_signed_in?%>
      <% if @clip.present?%>
        <div class="action-btn">
          <%= link_to(shop_clip_path(shop_id: @clip.shop.id, id: @clip.id), method: :delete, class:"action-link") do%>
            <span class="action-name history-delete">保存</span>
          <% end %>
        </div>
      <% else %>
        <div class="action-no-btn">
          <%= link_to(shop_clips_path(@shop.id), method: :post, class:"action-link shop-clip") do%>
            <span class="action-name history-post">保存</span>
          <% end %>
        </div>
      <% end %>
      <div class="action-btn">
        <%=link_to(new_shop_review_path(@shop.id),class:"action-link shop-history") do %>
          <span class="action-name link-clip">行った</span>
          <span class="action-name link-clip-comment">(口コミの投稿)</span>
        <% end %>
      </div>
    <% else %>
      <div class="action-btn">
        <%= link_to(new_user_session_path, class:"action-link shop-clip") do%>
          <span class="action-name history-post">保存</span>
        <% end %>
      </div>
      <div class="action-btn">
        <%=link_to(new_user_session_path,class:"action-link shop-history") do %>
          <span class="action-name link-clip">行った(口コミの投稿)</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="tab">
  <ul class="shop-menu-bar">
    <li class="shop-menu top-menu">
      <%= link_to(shop_path(@shop.id),class:"shop-menu-link") do%>
        <span class="shop-menu-name">店舗トップ</span>
      <% end %>
    </li>
    <li class="shop-menu review-menu">
      <%= link_to(shop_reviews_path(@shop.id),class:"shop-menu-link") do%>
        <span class="shop-menu-name">口コミ</span>
      <% end %>
    </li>
    <li class="shop-menu map-menu">
      <%= link_to(map_shop_path(@shop.id),class:"shop-menu-link") do%>
        <span class="shop-menu-name">地図</span>
      <% end %>
    </li>
  </ul>
</div>