<%= render "devise/shared/header" %>


<h1>hello</h1>

<%if user_signed_in?%>
<%# ログイン情報 %>
<%= "#{current_user.name}さん"%><br>
<%= "#{current_user.email}"%><br>
<%= "#{current_user.telephone}"%><br>
<%if current_user.image.attached?%>
  <%= image_tag current_user.image.variant(resize: '300x300')%><br>
<% else %>
  <%= image_tag "no_image.jpg"%>
<% end %><br>
<%= "#{current_user.comment}コメント"%>
<% end %>