<%= render "devise/shared/header" %>
<% breadcrumb :shops%>
<%= render "layouts/breadcrumb"%>



<%= link_to 'お店登録', new_shop_path%><br>

<h3>店舗一覧</h3>


<ul>
  <% @shops.each do |shop| %>
    <li>
      <% if shop.images.present? %>
        <%= image_tag shop.images[0].variant(resize: '300x300') %>
      <% else %>
        <%= image_tag "no_image.jpg"%>
      <% end %>
      <%= link_to shop_path(shop.id) do %>
        <%= shop.name%>
      <% end %>
      <%= shop.area.name%>
      <%= shop.nearest_station%>
      <%= shop.genre.name%>
      <%= shop.title%>
      評価<%= shop.reviews.average(:review_point)%>
      口コミ数<%= shop.reviews.count%>
    </li>
  <% end %> 
</ul> 


<%= render "devise/shared/footer" %>
