<%= render "devise/shared/header" %>


<%= link_to 'お店登録', new_shop_path%><br>

<h3>店舗一覧</h3>


<ul>
  <% @shops.each do |shop| %>
    <li>
      <% if shop.images.present? %>
        <%= image_tag shop.images[0].variant(resize: '300x300') %>
      <% else %>
        <%= image_tag "no_image.jpg"%>
      <% end %>
      <%= link_to shop_path(shop.id) do %>
        <%= shop.name%>
      <% end %>
      <%= shop.area.name%>
      <%= shop.nearest_station%>
      <%= shop.genre.name%>
      <%= shop.title%>
      評価<%= shop.reviews.average(:review_point)%>
      口コミ数<%= shop.reviews.count%>
    </li>
  <% end %> 
</ul> 

<%# top_○○には画像差し込み予定 %>
<% @top_areas.each do |top_area| %>
  <%= link_to top_area.name, search_shops_path(@q, 'q[area_name_eq]': top_area.name)%>
  <%= "#{top_area.shops.count}件"%>
<% end %><br>
<% @areas.each do |area| %>
  <%= link_to area.name, search_shops_path(@q, 'q[area_name_eq]': area.name)%>
<% end %><br>

<% @top_genres.each do |top_genre| %>
  <%= link_to top_genre.name, search_shops_path(@q, 'q[genre_name_eq]': top_genre.name)%>
  <%= "#{top_genre.shops.count}件"%>
<% end %><br>
<% @genres.each do |genre| %>
  <%= link_to genre.name, search_shops_path(@q, 'q[genre_name_eq]': genre.name)%>
<% end %><br>

<% @top_characteristics.each do |top_characteristic| %>
  <%= link_to top_characteristic.name, search_shops_path(@q, 'q[characteristics_name_eq]': top_characteristic.name)%>
  <%= "#{top_characteristic.shops.count}件"%>
<% end %><br>
<% @characteristics.each do |characteristic| %>
  <%= link_to characteristic.name, search_shops_path(@q, 'q[characteristics_name_eq]': characteristic.name)%>
<% end %>

<%= render "devise/shared/footer" %>
