<%= render "devise/shared/header" %>


<h1>WORK-SPACE</h1>

<%= link_to 'お店登録', new_shop_path%><br>

<h3>店舗一覧</h3>


<ul>
  <% @shops.each do |shop| %>
    <li>
      <% if shop.images.present? %>
        <%= image_tag shop.images[0].variant(resize: '300x300') %>
      <% else %>
        <%= image_tag "no_image.jpg"%>
      <% end %>
      <%= shop.name%>
      <%= shop.area.name%>
      <%= shop.nearest_station%>
      <%= shop.genre.name%>
      <%= shop.title%>
      <%#= shop.評価%>
      <%#= shop.コメント数%>
    </li>
  <% end %> 
</ul> 

<h3>アカウント情報</h3>
<%if user_signed_in?%>
  <%# ログイン情報 %>
  <%= "#{current_user.name}さん"%><br>
  <%= "#{current_user.email}"%><br>
  <%= "#{current_user.telephone}"%><br>
  <%if current_user.image.attached?%>
    <%= image_tag current_user.image.variant(resize: '300x300')%><br>
  <% else %>
    <%= image_tag "no_image.jpg"%>
  <% end %><br>
  <%= "#{current_user.comment}コメント"%>
<% end %>

<%= render "devise/shared/footer" %>
