<div class="header">
  <%= render "devise/shared/header" %>
</div>
<div class="shop-search">
  <div class="breadcrumbs">
    <% breadcrumb :search_shops%>
    <%= render "layouts/breadcrumb"%>
  </div>
  <div class="title">
    <span class="title-name"></span>
    <span class="title-count"><%=search_result%></span>
  </div>
  <div class="master">
    <%if user_signed_in? && current_user.admin == 1%>
      <%= link_to 'お店登録', new_shop_path%>
    <% end %>
  </div>
  <div class="paginate">
    <%= paginate @search_shops %>
  </div>
  <div class="shop">
    <% @search_shops.each do |shop| %>
      <div class="shop-list">
        <%= link_to shop_path(shop.id) do %>
          <div class="shop-top">
            <div class="shop-top-name">
                <span class="shop-name"><%= shop.name%></span>
            </div>
            <div class="shop-top-info">
              <div class="shop-top-area">
                <%= "[#{shop.area.name}]"%>
                <%= shop.nearest_station%>
              </div>
              <div class="shop-top-genre">
                <%= "　/　#{shop.genre.name}"%>
              </div>
            </div>
          </div>
          <div class="shop-info">
            <div class="shop-box">
              <%=image_display(shop)%>
            </div>
            <div class="shop-bottom">
              <div class="shop-bottom-title">
                <%= shop.title%>
              </div>
              <div class="shop-bottom-comment">
                <div class="shop-bottom-comment-point", id="shops-star-rate-<%=shop.id%>">
                  <script>
                    $("#shops-star-rate-<%=shop.id%>").raty({
                      size     : 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHarf: '<%= asset_path('star-half.png')%>',
                      readOnly: true,
                      score: "<%=shop.reviews.average(:review_point)%>"
                    });
                  </script>  
                  <% if shop.reviews.present?%>
                    <%= shop.reviews.average(:review_point).round(1)%>
                  <% end %>
                </div>
                <div class="shop-bottom-comment-count">
                  口コミ数<%= shop.reviews.count%>
                </div>
              </div>
              <div class="shop-bottom-characteristic">
                <% shop.characteristics.each do |characteristic|%>
                  <span class="shop-bottom-characteristic-name"><%= characteristic.name%></span>
                <% end %>
              </div>
              <div class="shop-bottom-review">
                <% shop.reviews.first(1).each do |review|%>
                  <span class="shop-bottom-review-title"><%= review.title%></span> <%#shop.review.first.title にするかもしくはコントローラーにメソッドつくるeachいらない%>
                  <span class="shop-bottom-review-user"><%= "by　#{review.user.name}"%></span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %> 
  </div>
  <div class="paginate">
    <%= paginate @search_shops %>
  </div>
</div>
<div class="footer">
  <%= render "devise/shared/footer" %>
</div>