<div class="header">
  <%= render "devise/shared/header" %>
</div>
<div class="shop-show">
  <div class="breadcrumbs">
    <% breadcrumb :shop%>
    <%= render "layouts/breadcrumb"%>
  </div>
  <div class="shop">
    <div class="shop-info">
      <%= render "shop_info"%>
    </div>
    <div class="shop-content">
      <div class="shop-content-image">
        <% if @shop.images.present?%>
          <% @shop.images.each do |image|%>
            <%= image_tag image,class:"shop-image"%>
          <% end %>
        <% else %>
          <%= image_tag "no_image.jpg",class:"shop-image"%>
        <% end %>
      </div>
      <div class="shop-content-comment">
        <p class="shop-content-comment-title"><%= @shop.title %></p>
        <p class="shop-content-comment-content"><%= @shop.content%></p>
      </div>
      <div class="shop-content-info">
          <%= render "shop_content"%>
      </div>
    </div>
  </div>
</div>
<div class="footer"> 
  <%= render "devise/shared/footer" %>
</div>
