<div class="header">
  <%= render "devise/shared/header" %>
</div>
<div class="shop-show">
  <div class="breadcrumbs">
    <% breadcrumb :shop%>
    <%= render "layouts/breadcrumb"%>
  </div>
  <div class="shop">
    <div class="shop-info">
      <%= render "shop_info"%>
    </div>
    <div class="shop-content">
      <div class="shop-content-image">
        <% if @shop.images.attached?%>
          <div class="shop-images">
            <%= image_tag @shop.images[0],class:"shop-image"%>
            <% if @shop.images[1].present?%>
              <%= image_tag @shop.images[1],class:"shop-image"%>
            <% end %>
            <% if @shop.images[2].present?%>
              <%= image_tag @shop.images[2],class:"shop-image"%>
            <% end %>
          </div>
        <% else %>
          <%= image_tag "no_image.jpg",class:"shop-image"%>
        <% end %>
      </div>
      <div class="shop-content-comment">
        <p class="shop-content-comment-title"><%= @shop.title %></p>
        <p class="shop-content-comment-content"><%= @shop.content%></p>
      </div>
      <div class="shop-content-info">
          <%= render "shop_content"%>
      </div>
    </div>
  </div>
</div>
<div class="footer"> 
  <%= render "devise/shared/footer" %>
</div>
