<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
    <div class="container">
      <div class="row">
          <div class='nav'>
            <ul class="toplink">
              <%if user_signed_in?%>
                  <li><%= link_to "マイページ", user_path(current_user.id), class:"mpage" %></li>
                  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
              <% else %>
                  <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
                  <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
              <% end %>
            </ul>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h1><%= link_to "WORK-SPACE", root_path ,class:"title"%></h1>
        </div>
        <div class = "col-xs-12 col-sm-8 search-fields">
          <%= search_form_for @q,url: search_shops_path do |f| %>
            <%= f.search_field :area_name_or_nearest_station_cont, placeholder: "エリア・駅[例：梅田、大阪梅田駅]",class:"shop_search shop_search_area"%>
            <%= f.search_field :name_or_genre_name_cont, placeholder: "キーワード[例：店名、カフェ]"%>
            <%= button_tag type:'submit' , class: "search-btn" do%>
              <%= fa_icon "search"%>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
            <%= fa_icon "search 5x"%>
                          <i class="fas fa-search"></i>

</header>