<div class="user">
  <div class="user-box">
    <%if @user.image.attached?%>
      <%= image_tag @user.image.variant(resize:'88x88').processed,class:"user-image"%>
    <% else %>
      <%= image_tag "no_image.jpg",class:"user-image"%>
    <% end %>
  </div>
  <div class="user-top">
    <div class="user-name">
      <%= "#{@user.name}さん のマイページ"%>
    </div>
    <ul class="user-nav-bar">
      <li class="user-nav nav-top">
        <%= link_to(user_path(@user.id),class:"user-nav-link") do%>
          <span class="user-nav-name">トップ</span>
        <% end %>
      </li>
      <li class="user-nav nav-history">
        <%= link_to(user_histories_path(@user.id),class:"user-nav-link") do%>
          <span class="user-nav-name">行ったお店</span>
        <% end %>
      </li>
      <li class="user-nav nav-clip">
        <%= link_to(user_clips_path(@user.id),class:"user-nav-link") do%>
          <span class="user-nav-name">保存したお店</span>
        <% end %>
      </li>
      <%if @user == current_user%>
        <li class="user-nav nav-edit">
          <%= link_to(edit_user_registration_path, class:"user-nav-link") do%>
            <span class="user-nav-name">設定</span>
          <% end %>
        </li>
      <% end %>
      <% if current_user.admin == 1 && @user.admin != 1%>
        <li class="user-nav master-destroy">
          <%= link_to( user_path(@user.id), method: :delete, class:"user-nav-link", data: {confirm: "このアカウントを削除しますか？"}) do%>
            <span class="user-nav-name">削除</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="user-header-line"></div>
