<div class="header">
  <%= render "devise/shared/header" %>
</div>
<div class="review-index">
  <div class="breadcrumbs">
    <% breadcrumb :shop_reviews%>
    <%= render "layouts/breadcrumb"%>
  </div>
  <div class="review">
    <div class="review-info">
      <%= render "shops/shop_info"%>
    </div>
    <div class="review-count">
      <p><%="全#{@reviews.count}件"%></p>
    </div>
    <div class="review-detail">
      <%if @reviews.present?%>
        <% @reviews.each do |review|%>
          <div class="review-detail-box">
            <div class="top">
              <div class="user-info">
                <div class="review-image">
                  <%if review.user.image.present?%>
                    <%= image_tag review.user.image,class:"user-image"%>
                  <% else %>
                    <%=image_tag "no_image.jpg",class:"user-image"%>
                  <% end %>
                </div>
                <div class="review-name">
                  <%=link_to(user_path(review.user.id) ,class:"review-user") do%>
                    <span class="user-name"><%=review.user.name%></span>
                  <% end %>
                  <span>の口コミ</span>
                </div>
              </div>
              <div class="master">
                <% if review.user == current_user || current_user.admin == 1%>
                  <%= link_to "編集", edit_shop_review_path(shop_id: @shop.id, id: review.id)%>
                  <%= link_to "削除", shop_review_path(shop_id: @shop.id, id: review.id), method: :delete, data: {confirm: "削除しますか？"} %>
                <% end %>
              </div>
            </div>
            <div class="review-info">
              <div class="review-rate", id="star-rate-<%=review.id%>">
                <script>
                  $("#star-rate-<%=review.id%>").raty({
                    size     : 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHarf: '<%= asset_path('star-half.png')%>',
                    readOnly: true,
                    score: "<%=review.review_point%>"
                  });
                </script>  
                <span class="review-rate-point"><%= review.review_point%></span>
              </div>
              <div class="review-content">
                <div class="review-visit"><%= "訪問日： #{review.date.year}/#{review.date.month}/#{review.date.day}"%></div>
                <div class="review-title"><%= review.title%></div>
                <div class="review-comment"><%= review.comment%></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="footer">
  <%= render "devise/shared/footer" %>
</div>
