<%= render "devise/shared/header" %>
<% breadcrumb :shop_reviews%>
<%= render "layouts/breadcrumb"%>
<%= render "shops/shop_info"%>

<h4>口コミ一覧</h4>
<%if @reviews.present?%>
  <% @reviews.each do |review|%>
    <%if review.user.image.present?%>
      <%= image_tag review.user.image.variant(resize:'50x50')%>
    <% else %>
      <%=image_tag "no_image.jpg"%>
    <% end %>
    <%=link_to "#{review.user.name}", user_path(review.user.id)%>
    <% if review.user == current_user%>
      <%= link_to "編集", edit_shop_review_path(shop_id: @shop.id, id: review.id)%>
      <%= link_to "削除", shop_review_path(shop_id: @shop.id, id: review.id), method: :delete %>
    <% end %>
    <br>
    <%= "評価：#{review.review_point}"%><br>
    <%= review.title%><br>
    <%= review.comment%><br>
    <%= "訪問日： #{review.date.year}/#{review.date.month}/#{review.date.day}"%><br>
  <% end %>
<% end %>
<%= render "devise/shared/footer" %>
