<!DOCTYPE html>
<html>
  <head>
    <title>WorkSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%=favicon_link_tag 'favicon.ico'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# bootstrap下記実装 %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%# footerFixed導入(jQuery) %>
    <script type="text/javascript" src="/packs/footerFixed.js"></script> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
